* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  
body {
    background-color: #0d1117;
  }

  @media screen and (min-width: 250px) {

    nav img {
      display: none;
    }
  
    p {
      font-size: 0.7rem;
    }
  
    /*page acceuil*/
  
    h1 {
      font-family: 'Lobster', cursive;
      text-shadow: 3px 1px 2px rgb(65, 64, 64);
    }
  
    h1 a {
      font-family:Roboto, sans-serif;
      text-shadow: none;
    }
  
    .accueil,
    .association,
    .evenements {
      margin-top: 70px;
    }
  
    .active {
      background-color: black;
      border-radius: 10px;
    }

    /* style bouton*/
  
    .btn {
        background-color: rgba(255, 255, 255, 0.05);
        border-top: 1px solid rgba(255,255, 255, 0.1);
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 30px;
        z-index: 1;
        letter-spacing: 1px;
        overflow: hidden;
        transition: 0.5s;
    }

    .btn a {
        text-decoration: none;
        color: #77b300;
        transition: 0.5s;
    }

    .btn a:hover {
        color: white;
        letter-spacing: 3px;
    }
  
    .btn:hover {
        letter-spacing: 3px;
    }
  
  
    footer i {
        font-size: 2rem;
        cursor: pointer;
    }

      /*page news*/
  
    .card-style {
        position: relative;
        width: 400px;
        height: 500px;
        box-shadow: 10px 10px 57px rgba(189, 188, 188, 0.2);
        border-radius: 15px;
        background: rgba(141, 141, 141, 0.1);
        overflow: hidden;
        justify-content: center;
        align-items: center;
        border-top: 1px solid #77b300;
        border-left: 1px solid  #77b300;
    }
  
  
  }
  
  @media screen and (min-width: 290px) {
    nav img {
      display: inline;
      width: 30%;
    }
    p {
      font-size: 0.8rem;
    }
  
  
  }
  
  @media screen and (min-width: 570px) {
    nav img {
      width: 50%;
    }

    /*page accueil*/
    .accueil,
    .association,
    .evenements {
      margin-top: 100px;
    }
  
    p {
      font-size: 1rem;
    }
  
  }